In [1]:
import pandas as pd
import numpy as np

# Create a data frame with 50 rows
rows = 50
df = pd.DataFrame({'A': np.random.choice(['Male', 'Female'], rows),
                   'B': np.random.choice(['Young', 'Middle-aged', 'Old'], rows),
                   'C': np.random.choice(['Urban', 'Rural'], rows),
                   'D': np.random.choice(['Single', 'Married', 'Divorced'], rows),
                   'E': np.random.choice(['High school', 'College', 'Graduate'], rows)})

# Convert columns to categorical
df['A'] = df['A'].astype('category')
df['B'] = df['B'].astype('category')
df['C'] = df['C'].astype('category')
df['D'] = df['D'].astype('category')
df['E'] = df['E'].astype('category')

print(df.head())

        A            B      C         D            E
0  Female  Middle-aged  Rural    Single      College
1    Male        Young  Rural    Single  High school
2  Female          Old  Rural   Married  High school
3    Male        Young  Rural  Divorced     Graduate
4  Female          Old  Urban   Married      College

In [22]:
df=df.astype('category')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       50 non-null     category
 1   B       50 non-null     category
 2   C       50 non-null     category
 3   D       50 non-null     category
 4   E       50 non-null     category
dtypes: category(5)
memory usage: 1022.0 bytes

In [24]:
df=df.astype('string')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       50 non-null     string
 1   B       50 non-null     string
 2   C       50 non-null     string
 3   D       50 non-null     string
 4   E       50 non-null     string
dtypes: string(5)
memory usage: 2.1 KB

In [28]:
df["A"].str.lower()

0     female
1       male
2     female
3       male
4     female
5     female
6       male
7       male
8     female
9     female
10    female
11    female
12    female
13      male
14      male
15      male
16      male
17    female
18      male
19      male
20      male
21      male
22    female
23      male
24    female
25    female
26      male
27      male
28    female
29      male
30    female
31      male
32      male
33    female
34      male
35      male
36      male
37    female
38      male
39    female
40      male
41      male
42    female
43    female
44    female
45    female
46    female
47    female
48    female
49      male
Name: A, dtype: string

In [29]:
df["A"].str.upper()

0     FEMALE
1       MALE
2     FEMALE
3       MALE
4     FEMALE
5     FEMALE
6       MALE
7       MALE
8     FEMALE
9     FEMALE
10    FEMALE
11    FEMALE
12    FEMALE
13      MALE
14      MALE
15      MALE
16      MALE
17    FEMALE
18      MALE
19      MALE
20      MALE
21      MALE
22    FEMALE
23      MALE
24    FEMALE
25    FEMALE
26      MALE
27      MALE
28    FEMALE
29      MALE
30    FEMALE
31      MALE
32      MALE
33    FEMALE
34      MALE
35      MALE
36      MALE
37    FEMALE
38      MALE
39    FEMALE
40      MALE
41      MALE
42    FEMALE
43    FEMALE
44    FEMALE
45    FEMALE
46    FEMALE
47    FEMALE
48    FEMALE
49      MALE
Name: A, dtype: string

In [30]:
df["A"].str.len()

0     6
1     4
2     6
3     4
4     6
5     6
6     4
7     4
8     6
9     6
10    6
11    6
12    6
13    4
14    4
15    4
16    4
17    6
18    4
19    4
20    4
21    4
22    6
23    4
24    6
25    6
26    4
27    4
28    6
29    4
30    6
31    4
32    4
33    6
34    4
35    4
36    4
37    6
38    4
39    6
40    4
41    4
42    6
43    6
44    6
45    6
46    6
47    6
48    6
49    4
Name: A, dtype: Int64